body {
  font-family: 'Roboto', sans-serif;
  background-color: #65c0ba;
  color: black;
}

.titreRepas{
  color:rgb(78, 6, 6);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* CSS barre de progression */
#progressB {
  position: fixed;
  margin-left: 3%;
  margin-top: 8%;
  z-index: 1;
  /* à enlever*/
  width: 30%;
}
#txt{
  text-align: center;
  color: rgb(78, 6, 6);
  font-weight : bold;
}
#txt2{
  text-align: center; 
  color: black;
}
#btnReset{
  border: 1px solid #216583;
  background: transparent;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  font-style: italic;
  text-align: center;
  width: auto;
}

#btnReset:hover {
  border: 1px solid #216583;
  color: black;
  opacity: 0.7;
}
/* ******************************* */

/* CSS pour la rotation des image (Recto/Verso) */
.btn-center{
  text-align: center;
  margin: 10% 20%;
}
.grille {
  float: right;
  max-width: 1500px;
  width: 65%;
  height: auto;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 10px;
  background: #65c0ba;
}
#idDejeuner img{
  border-radius: 35px;
  border: 1px solid #333;
}
.grid-item {
  padding-top: 10%;
  width: 300px;
  height: auto;
  background: #65c0ba;
  border-radius: 25px;
}
#idDejeuner button{
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  outline: none;
  background: white;
  color: black;
  padding: 2% 15%;
}
#idDejeuner button:hover{
  background: black;
  color: white;
  transition: 0.5;
}

.containerRepas {
perspective: 1000px;
display: flex;
align-items: center;
justify-content: center;
}
#card {
height: 300px;
width: 250px;
transform-style: preserve-3d;
transition: all 1.0s linear;
}
.containerRepas:hover #card {
transform: rotateY(180deg);
}
.face {
position: absolute;
padding-left: 10px;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.face.back {
display: block;
transform: rotateY(180deg);
}
@media only screen and (max-width: 800px) and (min-width: 0px)  {
  #btnReset{
    border: 1px solid #216583;
    background: transparent;
    border-radius: 15px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    font-style: italic;
    text-align: left;
    width: auto;
    margin-right: -5%;
  }

  #progressB {
    position: fixed;
    margin-left: 2%;
    margin-top: 50%;
    z-index: 1;
    width: 40%;
  }
  #txt{
    text-align: center;
    color: rgb(78, 6, 6);
    font-weight : bold;
    font-size: 15px;
  }
  #txt2{
    text-align: center; 
    color: black;
    font-size: 15px;
  }

  .grille {
    width: 40%;
  }
}



